# UNSW-NB15 Cleaning

## Setup

In [1]:
import numpy as np
import pandas as pd
import config
from pathlib import Path

In [15]:
def load_data(root=config.UNSWNB15_ROOT, shuffle_seed=0):
    file_paths = {
        'testing': 'Training and Testing Sets/UNSW_NB15_testing-set.csv',
        'training': 'Training and Testing Sets/UNSW_NB15_training-set.csv',
        'events': 'UNSW-NB15_LIST_EVENTS.csv',
    }
    data = {name: pd.read_csv(root / path) for name, path in file_paths.items()}
    data['features'] = pd.read_csv(root / 'NUSW-NB15_features.csv', encoding='cp1252')
    NB15_parts = [pd.read_csv(root / f'UNSW-NB15_{i}.csv') for i in range(1, 5)]
    for df in NB15_parts:
        df.columns = data['features']['Name']
    
    train_df = pd.concat(NB15_parts, ignore_index=True)
    if shuffle_seed:
        train_df = train_df.sample(frac=1, random_state=shuffle_seed).reset_index(drop=True)
    
    return train_df

train_df = load_data().drop_duplicates()

C:\Users\taznk\AppData\Local\Temp\ipykernel_14808\2670186426.py:10: DtypeWarning: Columns (1,3,47) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv(root / f'UNSW-NB15_{i}.csv') for i in range(1, 5)
C:\Users\taznk\AppData\Local\Temp\ipykernel_14808\2670186426.py:10: DtypeWarning: Columns (3,39,47) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv(root / f'UNSW-NB15_{i}.csv') for i in range(1, 5)

In [16]:
train_df.head()

Name,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,...,0,2,4,2,3,1,1,2,NaN,0
1,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,...,0,12,8,1,2,2,1,1,NaN,0
2,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,...,0,6,9,1,1,1,1,1,NaN,0
3,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,...,0,7,9,1,1,1,1,1,NaN,0
4,59.166.0.0,32119,149.171.126.9,111,udp,CON,0.078339,568,312,31,...,0,2,4,2,3,1,1,2,NaN,0

In [17]:
data['features']

,No.,Name,Type,Description
0,1,srcip,nominal,Source IP address
1,2,sport,integer,Source port number
2,3,dstip,nominal,Destination IP address
3,4,dsport,integer,Destination port number
4,5,proto,nominal,Transaction protocol
5,6,state,nominal,Indicates to the state and its dependent proto...
6,7,dur,Float,Record total duration
7,8,sbytes,Integer,Source to destination transaction bytes
8,9,dbytes,Integer,Destination to source transaction bytes
9,10,sttl,Integer,Source to destination time to live value
10,11,dttl,Integer,Destination to source time to live value
11,12,sloss,Integer,Source packets retransmitted or dropped
12,13,dloss,Integer,Destination packets retransmitted or dropped
13,14,service,nominal,"http, ftp, smtp, ssh, dns, ftp-data ,irc and ..."
14,15,Sload,Float,Source bits per second
15,16,Dload,Float,Destination bits per second
16,17,Spkts,integer,Source to destination packet count
17,18,Dpkts,integer,Destination to source packet count
18,19,swin,integer,Source TCP window advertisement value
19,20,dwin,integer,Destination TCP window advertisement value
20,21,stcpb,integer,Source TCP base sequence number
21,22,dtcpb,integer,Destination TCP base sequence number
22,23,smeansz,integer,Mean of the ?ow packet size transmitted by the...
23,24,dmeansz,integer,Mean of the ?ow packet size transmitted by the...
24,25,trans_depth,integer,Represents the pipelined depth into the connec...
25,26,res_bdy_len,integer,Actual uncompressed content size of the data t...
26,27,Sjit,Float,Source jitter (mSec)
27,28,Djit,Float,Destination jitter (mSec)
28,29,Stime,Timestamp,record start time
29,30,Ltime,Timestamp,record last time
30,31,Sintpkt,Float,Source interpacket arrival time (mSec)
31,32,Dintpkt,Float,Destination interpacket arrival time (mSec)
32,33,tcprtt,Float,"TCP connection setup round-trip time, the sum ..."
33,34,synack,Float,"TCP connection setup time, the time between th..."
34,35,ackdat,Float,"TCP connection setup time, the time between th..."
35,36,is_sm_ips_ports,Binary,If source (1) and destination (3)IP addresses ...
36,37,ct_state_ttl,Integer,No. for each state (6) according to specific r...
37,38,ct_flw_http_mthd,Integer,No. of flows that has methods such as Get and ...
38,39,is_ftp_login,Binary,If the ftp session is accessed by user and pas...
39,40,ct_ftp_cmd,integer,No of flows that has a command in ftp session.
40,41,ct_srv_src,integer,No. of connections that contain the same servi...
41,42,ct_srv_dst,integer,No. of connections that contain the same servi...
42,43,ct_dst_ltm,integer,No. of connections of the same destination add...
43,44,ct_src_ ltm,integer,No. of connections of the same source address ...
44,45,ct_src_dport_ltm,integer,No of connections of the same source address (...
45,46,ct_dst_sport_ltm,integer,No of connections of the same destination addr...
46,47,ct_dst_src_ltm,integer,No of connections of the same source (1) and t...
47,48,attack_cat,nominal,The name of each attack category. In this data...
48,49,Label,binary,0 for normal and 1 for attack records

## Impute NaN

In [18]:
print('NaN entries:')
for c in train_df.columns:
    n_nan = pd.isna(train_df[c]).sum()
    frac = n_nan / len(train_df)
    if n_nan > 0: print(f'{c}: {n_nan} ({frac:.2f})')

NaN entries:
ct_flw_http_mthd: 933603 (0.45)
is_ftp_login: 1014165 (0.49)
attack_cat: 1959771 (0.95)

In [19]:
train_df['attack_cat'].fillna('normal', inplace = True)
train_df['attack_cat'] = train_df['attack_cat'].apply(lambda x: x.strip().lower())
train_df['ct_flw_http_mthd'].fillna(0, inplace=True)
train_df['is_ftp_login'].fillna(0, inplace=True)

pd.isna(train_df).any(axis=1).sum()

C:\Users\taznk\AppData\Local\Temp\ipykernel_14808\4127053838.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df['attack_cat'].fillna('normal', inplace = True)
C:\Users\taznk\AppData\Local\Temp\ipykernel_14808\4127053838.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df['ct_flw_http_mthd'].fillna(0, inplace=True)
C:\Users\taznk\AppData\Local\Temp\ipykernel_14808\4127053838.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df['is_ftp_login'].fillna(0, inplace=True)

np.int64(0)

## Unique Values

In [20]:
train_df.describe(include="O")

Name,srcip,sport,dstip,dsport,proto,state,service,ct_ftp_cmd,attack_cat
count,2059417,2059417,2059417,2059417,2059417,2059417,2059417,2059417,2059417
unique,43,100343,47,128297,135,16,13,13,11
top,59.166.0.4,0,149.171.126.3,53,tcp,FIN,-,,normal
freq,192686,20653,192515,233820,1448858,1433507,1169180,1014165,1959771

In [21]:
categorical = ('srcip',	'sport',	'dstip',	'dsport',	'proto',	'state',	'service',	'ct_ftp_cmd',	'attack_cat')
for c in categorical:
    print('\n' + c)
    u = train_df[c].unique()
    print(len(u))
    print(u)

srcip
43
['59.166.0.0' '59.166.0.6' '59.166.0.5' '59.166.0.3' '10.40.182.3'
 '59.166.0.7' '10.40.170.2' '59.166.0.1' '59.166.0.2' '59.166.0.4'
 '175.45.176.3' '175.45.176.2' '175.45.176.0' '59.166.0.8' '59.166.0.9'
 '175.45.176.1' '10.40.182.1' '10.40.85.1' '192.168.241.243' '10.40.85.30'
 '149.171.126.16' '149.171.126.2' '149.171.126.11' '149.171.126.4'
 '149.171.126.5' '149.171.126.17' '149.171.126.19' '149.171.126.9'
 '149.171.126.8' '149.171.126.7' '149.171.126.15' '149.171.126.6'
 '149.171.126.0' '149.171.126.1' '149.171.126.3' '149.171.126.13'
 '149.171.126.12' '149.171.126.10' '149.171.126.18' '127.0.0.1'
 '149.171.126.14' '10.40.85.10' '10.40.182.6']

sport
100343
[33661 1464 3593 ... 533 933 706]

dstip
47
['149.171.126.9' '149.171.126.7' '149.171.126.5' '149.171.126.0'
 '149.171.126.4' '10.40.182.3' '149.171.126.6' '10.40.170.2'
 '149.171.126.18' '149.171.126.16' '149.171.126.8' '149.171.126.2'
 '149.171.126.1' '149.171.126.10' '149.171.126.3' '149.171.126.15'
 '149.171.126.14' '149.171.126.12' '149.171.126.13' '149.171.126.11'
 '224.0.0.5' '149.171.126.17' '149.171.126.19' '192.168.241.243'
 '10.40.85.1' '10.40.85.30' '175.45.176.3' '224.0.0.1' '59.166.0.4'
 '175.45.176.0' '59.166.0.9' '59.166.0.6' '175.45.176.2' '59.166.0.2'
 '59.166.0.5' '59.166.0.7' '59.166.0.1' '59.166.0.8' '59.166.0.0'
 '175.45.176.1' '59.166.0.3' '32.50.32.66' '10.40.198.10' '127.0.0.1'
 '192.168.241.50' '10.40.182.255' '10.40.182.6']

dsport
128297
['1024' '53' '111' ... '41921' '24470' '30870']

proto
135
['udp' 'arp' 'tcp' 'ospf' 'icmp' 'igmp' 'sctp' 'udt' 'sep' 'sun-nd'
 'swipe' 'mobile' 'pim' 'rtp' 'ipnip' 'ip' 'ggp' 'st2' 'egp' 'cbt' 'emcon'
 'nvp' 'igp' 'xnet' 'argus' 'bbn-rcc' 'chaos' 'pup' 'hmp' 'mux' 'dcn'
 'prm' 'trunk-1' 'xns-idp' 'trunk-2' 'leaf-1' 'leaf-2' 'irtp' 'rdp'
 'iso-tp4' 'netblt' 'mfe-nsp' 'merit-inp' '3pc' 'xtp' 'idpr' 'tp++' 'ddp'
 'idpr-cmtp' 'ipv6' 'il' 'idrp' 'ipv6-frag' 'sdrp' 'ipv6-route' 'gre'
 'rsvp' 'mhrp' 'bna' 'esp' 'i-nlsp' 'narp' 'ipv6-no' 'tlsp' 'skip'
 'ipv6-opts' 'any' 'cftp' 'sat-expak' 'kryptolan' 'rvd' 'ippc' 'sat-mon'
 'ipcv' 'visa' 'cpnx' 'cphb' 'wsn' 'pvp' 'br-sat-mon' 'wb-mon' 'wb-expak'
 'iso-ip' 'secure-vmtp' 'vmtp' 'vines' 'ttp' 'nsfnet-igp' 'dgp' 'tcf'
 'eigrp' 'sprite-rpc' 'larp' 'mtp' 'ax.25' 'ipip' 'micp' 'aes-sp3-d'
 'encap' 'etherip' 'pri-enc' 'gmtp' 'pnni' 'ifmp' 'aris' 'qnx' 'a/n'
 'scps' 'snp' 'ipcomp' 'compaq-peer' 'ipx-n-ip' 'vrrp' 'zero' 'pgm' 'iatp'
 'ddx' 'l2tp' 'srp' 'stp' 'smp' 'uti' 'sm' 'ptp' 'fire' 'crtp' 'isis'
 'crudp' 'sccopmce' 'sps' 'pipe' 'iplt' 'unas' 'fc' 'ib']

state
16
['CON' 'INT' 'FIN' 'URH' 'REQ' 'ECO' 'RST' 'CLO' 'TXD' 'URN' 'no' 'ACC'
 'PAR' 'MAS' 'TST' 'ECR']

service
13
['-' 'dns' 'http' 'smtp' 'ftp-data' 'ftp' 'ssh' 'pop3' 'snmp' 'ssl' 'irc'
 'radius' 'dhcp']

ct_ftp_cmd
13
[0 1 6 2 4 8 5 3 '0' '1' ' ' '2' '4']

attack_cat
11
['normal' 'exploits' 'reconnaissance' 'dos' 'generic' 'shellcode'
 'fuzzers' 'worms' 'backdoors' 'analysis' 'backdoor']

In [22]:
train_df['ct_ftp_cmd'] = train_df['ct_ftp_cmd'].astype('str')
train_df['ct_ftp_cmd'] = train_df['ct_ftp_cmd'].replace(' ', '0')
train_df['ct_ftp_cmd'] = train_df['ct_ftp_cmd'].astype('int')
train_df['ct_ftp_cmd'].unique()

array([0, 1, 6, 2, 4, 8, 5, 3])

In [23]:
train_df['is_ftp_login'] = (train_df['is_ftp_login'] > 0).astype(int)
train_df.is_ftp_login.unique()

array([0, 1])

In [24]:
train_df['sport'] = train_df['sport'].astype('str')
train_df['sport'] = pd.to_numeric(train_df['sport'], errors='coerce').fillna(0).astype(int)

train_df['dsport'] = train_df['dsport'].astype('str')
train_df['dsport'] = pd.to_numeric(train_df['dsport'], errors='coerce').fillna(0).astype(int)

train_df.sport.unique(), train_df.dsport.unique()

(array([33661,  1464,  3593, ...,   533,   933,   706]),
 array([1024,   53,  111, ...,  632,  186,  518]))

## Outliers

In [28]:
# TODO
pass

In [30]:
train_df.to_csv(config.INTERM_DIR / 'full_unsw_cleaned.csv', index=False)